@media screen and (max-width: 600px){
    .cabecalho{
        margin: auto;
        width: 35%;
        margin-bottom:10px ;
        
    }

    .sobre{
       margin: auto;
       width: 70%;
    }

    .sobre1{
        margin-left: 12px;
    }

    .projetos{
        margin-right: 35px;
    }

    .contato{
        margin-left: 9px;
    }

}