@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

body{
    background-image: linear-gradient(to right, #96F7A8, #4CF56B, #3DC255);
}

h1, h2{
    text-decoration: underline;
    font-family: 'Diphylleia', serif;
}

.sobre{
    text-align: center;
    font-family: 'Diphylleia', serif;
    margin-top: 50px;
    font-size: 1.2rem;
    border: 1px solid white;
    width: 50%;
    margin-left: 350px;
    padding-bottom: 15px;
    font-weight: bold;
}

.cabecalho{
    font-family: 'Kanit', sans-serif;
    font-size: 1.1rem;
    margin-left: 950px;
    padding-top: 10px;
    justify-content: space-around;
    background-color: rgb(238, 227, 227);
    width: 25%;
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
}

.sobre1{
    margin-right: 25px;
    font-weight: normal;
    text-decoration: underline;
}

.contato{
    margin-left: 25px;
    font-weight: normal;
    text-decoration: underline;
}

.projetos{
    margin-left: 10px;
    font-weight: normal;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: black;
    padding: 5px;
}



button{
    font-family: 'Diphylleia', serif;
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: rgb(130, 212, 148);
    width: 35%;
    text-decoration: underline;
}






