@media screen and (max-width: 900px) {
    .cabecalho{
        margin: auto;
        margin-bottom: 8px;
    }

    .cabecalho > a{
        padding: 10px;
        margin-left: 50px;
    }
     
.name{
    font-size: 2.8rem;
}

.name-second{
    font-size: 2.5rem;
}

    .position{
       width: 60%;
       margin: auto;
       margin-left: 80px;
       margin-bottom: 5px;
       height: 150px;
    }

    .nickolas{
        width: 100%;
        
    }

    .foto{
        width: 0;
    }

    
    footer{
        font-size: 0.6rem;
        margin-left: 2px;
        width: 100%;
    }
    
    .dev-part{
        width: 28%;
        font-size: 1.3rem;
    }

    .dev-web{
        font-size: 1.8rem;
        margin-left: 20px;
        white-space: nowrap;
    }

    .p{
        margin-left: 60px;
        white-space: normal;
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }

    .com{
        white-space: nowrap;
        margin-left: 4px;
        font-size: 1rem;
    }

    .fac{
        white-space: nowrap;
        font-size: 1rem;
    }

    .sou{
        white-space: nowrap;
        font-size: 1rem;
    }

    .constante{
        white-space: nowrap;
        font-size: 1.2rem;
    }

    aside{
        width: 90%;
        
    }
  }