@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');


/* font-family: 'Parisienne', cursive;  Letra emendada*/
/* font-family: 'Kanit', sans-serif; letra para o cabecalho */
/* font-family: 'Diphylleia', serif; para a frase de efeito*/
/*  */



.cabecalho{
    font-family: 'Kanit', sans-serif;
    font-size: 0.8rem;
    margin-left: 700px;
    padding-top: 10px;
    border-bottom: 1.4px solid black;
    background-color: rgb(238, 227, 227);
    border-radius: 5px;
}

a{
    text-decoration: none;
    padding: 65px;
    font-size: 1.2rem;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.position{
    border: 1px solid black;
    width: 25%;
    height: 229px;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: rgb(238, 227, 227);
}
.name{
    font-size: 4.5rem;
    font-weight: normal;
    padding-left: 15px;
    height: 40px;
    /* color: rgb(243, 9, 48); */
    color: black;
    margin-bottom: 30px;
    text-decoration: underline  5px solid black;
    font-family: 'Parisienne', cursive;

}

.name-second{
    font-size: 4.5rem;
    font-weight: normal;
    margin-bottom: 15px;
    /* color: rgb(241, 0, 40); */
    color: black;
    padding-top: 2px;
    padding-left: 80px;
    text-decoration:  underline 5px solid black;
    font-family: 'Parisienne', cursive;

}

img{
    height: 240px;
    border-radius: 50%;
    padding-left: 10px;
    margin-left: 100px;
}

aside{
    margin-left: 20px;
    width: 45%;
    padding: 10px;
    font-family: 'Diphylleia', serif;
    font-size: 1.4rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(238, 227, 227);
    padding-left: 10px;
}

.dev-web{
    text-decoration: underline;
    font-size: 2.3rem;
    color: rgb(230, 32, 65);
}

.dev-part{
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.nickolas{
    margin-bottom: 30px;
    /* width: 1350px; */
}

main{
    display: flex;
    
}

footer{
    font-family: 'Diphylleia', serif;
    font-weight: bolder;
    padding-top: 20px;
    font-size: 1rem;
    height: 40px;
    width: 40%;
    margin-left: 30px;
    color: rgba(29, 29, 2, 0.788);
    border-bottom: 1.5px solid black;
    
}
 .constante{
    font-weight: bolder;
    white-space: normal;
    font-size: 1.9rem;
 }

 .com{
    white-space: normal;
    margin-left: 4px;
    font-size: 1.9rem;
}

.fac{
    white-space: normal;
    font-size: 1.9rem;
}

.sou{
    white-space: normal;
    font-size: 1.9rem;
}

body{
    background-image: linear-gradient(to right, #96F7A8, #4CF56B, #3DC255);
}





