@media screen and (max-width: 1200px){
    .cabecalho{
        margin: auto;
        margin-bottom: 30px;
    }

    .sobre1{
        margin-left: 19px;
       
    }

    .projetos{
        margin-right: 30px;
        
    }

    .contato{
        margin-left: 20px;
        
    }

    main{
        margin: auto;
    }
}

